mistral-ocr-streamlit/mistral-ocr.json
{
  "name": "mistral-ocr",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "16c2595d-0793-4ef0-8c09-f204f2df2a02",
      "name": "Upload to Mistral",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uV5Ej0Uj9N0cjoWE",
          "name": "Mistral OCR Demo"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "9ca4c38e-cb1c-4f92-98a6-379624667334",
      "name": "Get Signed URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uV5Ej0Uj9N0cjoWE",
          "name": "Mistral OCR Demo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "98aa6e35-966b-443d-b07c-be03ad7adb7e",
      "name": "Get OCR Results",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uV5Ej0Uj9N0cjoWE",
          "name": "Mistral OCR Demo"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "436bd44f-055b-4a20-9a5e-376549ffa8d4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b1197eba-0a27-4a5b-88b1-871ab6455871",
      "name": "Webhook",
      "webhookId": "436bd44f-055b-4a20-9a5e-376549ffa8d4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        0
      ],
      "id": "0b52cc19-6b3c-40fa-93fb-07726b065103",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload to Mistral": {
      "main": [
        [
          {
            "node": "Get Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed URL": {
      "main": [
        [
          {
            "node": "Get OCR Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OCR Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload to Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a485e12f-d01b-42f3-98a1-b6ed973dcd03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a096ad2095a0bc79d1c30fd985a3393eb3892ac9c5d4fe481e18b7e03b04513"
  },
  "id": "KXqRyu30RLVUOgVg",
  "tags": []
}